{% extends 'base.html' %}

{% block title %}
Design Leaflets for Free!
{% endblock title%}



{% block about_us_subtitle %}
Design Leaflets Quickly and Easily
{% endblock %}

{% block blurb_1_title %}
Easy to use
{% endblock %}

{% block blurb_1_fa %}fa-thumbs-up{% endblock %}

{% block blurb_1 %}
Simple. Intuitive.<br>
You can create a leaflet in under 30 seconds.
{% endblock %}

{% block blurb_2_fa %}fa-mobile{% endblock %}

{% block blurb_2_title %}
On-the-go
{% endblock %}

{% block blurb_2 %}
Mobile and desktop compatible, so you can create leaflets when and where you want to.
{% endblock %}

{% block blurb_3_fa %}fa-users{% endblock %}

{% block blurb_3_title %}
Free
{% endblock %}

{% block blurb_3 %}
All of our basic functionality is free. We wanted for everyone to have access to our software.
{% endblock %}

{% block blurb_4_fa %}fa-sliders{% endblock %}

{% block blurb_4_title %}
New themes
{% endblock %}

{% block blurb_4 %}
Check back often, as we regularly update our site with new themes for your pamphlets.
{% endblock %}

{% block choose_platform %}
<p>Our free app is mobile, desktop, and tablet compatible</p>
{% endblock %}

{% block app_download_buttons %}
<a href="#" class="btn btn-primary inverse scrollpoint sp-effect1">
    <i class="fa fa-cloud fa-3x pull-left"></i>
    <span>Try our free app</span><br>
    <b>Now</b>
</a>
{% endblock app_download_buttons %}

{% block mailto %}
support[at]horossolutions[dot]com
{% endblock %}